extends base
include mixins/video

block content
  header 
    nav 
      ul 
        li
          a(href="/videos/upload") Upload Video
          
  h2 Welcome here you will see trending Videoes

  each item in videos
    +video(item)
  else 
    li 아무것도 없어